<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="plantillas/plantilla :: head"></head>
</head>
<body>
    <header th:replace="plantillas/plantilla :: header"></header>
    <main class="container text-center">
      <ul class="list-group">
        <li class="list-group-item">Lista Hoteles</li>


        <li class="list-group-item list-group-item-primary">Hotel 1</li>
        <li class="list-group-item list-group-item-secondary">Hotel 2</li>
        <li class="list-group-item list-group-item-success">Hotel 3</li>
        <li class="list-group-item list-group-item-danger">Hotel 4</li>
        <li class="list-group-item list-group-item-warning">Hotel 5</li>
        <li class="list-group-item list-group-item-info">Hotel 6</li>
        <li class="list-group-item list-group-item-light">Hotel 7</li>
        <li class="list-group-item list-group-item-dark">Hotel 7</li>
      </ul>
    </main>
    <footer th:replace="plantillas/plantilla :: footer"></footer>
</body>
</html>