<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="plantillas/plantilla :: head"></head>
</head>
<body>
    <header th:replace="plantillas/plantilla :: header"></header>
    <main class="container text-center">
        <h1 th:text="${operacion}"></h1>
        <div class="card">
            <h4 class="card-header"><strong>Formulario de registro</strong></h4>
            <div class="card-body">
                <form th:action="@{/habitacion/entrada-uno}" th:object="${habitacionEntity}" method="post">
                    <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role="alert">
                        Verifique los siguientes errores
                        <ul>
                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control"
                                       id="nombre" name="nombre"
                                       placeholder="Ingrese su nombre"
                                       th:field="*{nombre}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="refrigerador">Refrigerador</label>
                                <input type="number" class="form-control"
                                       id="refrigerador" name="refrigerador"
                                       placeholder="Refrigerador"
                                       th:field="*{refrigerador}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="numeroCamas">Numero de Camas</label>
                                <input type="number" class="form-control"
                                       id="numeroCamas" name="numeroCamas"
                                       th:field="*{numeroCamas}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="precio">Precio</label>
                                <input type="number" class="form-control"
                                       id="precio" name="precio"
                                       th:field="*{precio}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="imagen">Imagen</label>
                                <input type="text" class="form-control"
                                       id="imagen" name="imagen"
                                       th:field="*{imagen}">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <br/>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                    <input type="hidden" name="id_hbt" th:field="*{id_hbt}">
                </form>
            </div>
        </div>
    </main>
    <footer th:replace="plantillas/plantilla :: footer"></footer>
</body>
</html>