<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="plantillas/plantilla :: head"></head>
</head>
<body>
    <header th:replace="plantillas/plantilla :: header"></header>
    <main class="container text-center">
        <table th:if="${!habitaciones.isEmpty()}" class="table table-striped table-hover table-sm">
            <thead class="table-dark table-bordered">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Numero de Camas</th>
                <th scope="col">Refrigerador</th>
                <th scope="col">Precios</th>
                <th scope="col">Imagen</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="h: ${habitaciones}">
                <td th:text="${h.nombre}"></td>
                <td th:text="${h.numeroCamas}"></td>
                <td th:text="${h.refrigerador}"></td>
                <td th:text="${h.precio}"></td>
                <td th:text="${h.imagen}"></td>
                <td>
                    <a th:href="@{/habitacion/modificar-habitacion/{id} (id=${h.id_hbt})}"
                       class="btn btn-success" ><i class="fas fa-pencil-alt" aria-hidden="true"></i>Modificar</a>
                    <a th:href="@{/habitacion/borrar-habitacion/{id} (id=${h.id_hbt})}"
                       class="btn btn-danger" ><i class="fas fa-trash" aria-hidden="true"></i>Eliminar</a>
                </td>
            </tr>
            </tbody>

        </table>
        <nav th:replace="plantillas/pag-nav:: paginador"></nav>
    <footer th:replace="plantillas/plantilla :: footer"></footer>
</body>
</html>